header,
main,
footer {
  text-align: center;
}

/* button */
button {
  width: 10em;
  padding: 0.5em;
  background-color: goldenrod;
}

button:hover {
  background-color: rgb(128, 93, 6);
  color: whitesmoke;
  font-weight: 600;
}

/* output container for js */
.container {
  min-height: 2em;
  border: dotted 1px goldenrod;
  margin: 1em auto;
  padding: 1em;
}

/* Footer */
footer {
  font-size: 0.8em;
}
